In [19]:
import pandas as pd
import numpy as np
import datetime
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv("datasetbitcoin.csv")

In [21]:
df.head() #check the data

        Date        Price
0  5/23/2019  7881.846680
1  5/24/2019  7987.371582
2  5/25/2019  8052.543945
3  5/26/2019  8673.215820
4  5/27/2019  8805.778320

In [22]:
df=df.iloc[::-1]
df.index = df['Date']
del df['Date']
df.info()
df = df[['Price']]
print(df.tail())

<class 'pandas.core.frame.DataFrame'>
Index: 367 entries, 5/23/2020 to 5/23/2019
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   367 non-null    float64
dtypes: float64(1)
memory usage: 5.7+ KB
                 Price
Date
5/27/2019  8805.778320
5/26/2019  8673.215820
5/25/2019  8052.543945
5/24/2019  7987.371582
5/23/2019  7881.846680

In [23]:
df.head()

                 Price
Date
5/23/2020  9180.045898
5/22/2020  9182.577148
5/21/2020  9081.761719
5/20/2020  9522.981445
5/19/2020  9729.038086

In [24]:
pred = 30 #n = 30
df['Prediction'] = df[['Price']].shift(-pred) #adding the pred value to the dataframe
x = np.array(df.drop(['Prediction'],1)) #Drop the prediction column and convert the dataframe into array 
x = x[:len(df)-pred] #Removing last 'n' rows
y = np.array(df['Prediction']) #Drop the prediction column and convert the dataframe into array 
y = y[:-pred] #Removing last 'n' rows

In [25]:
from sklearn.model_selection import train_test_split

In [8]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.2)
clf = LinearRegression()
clf.fit(xtrain,ytrain)

LinearRegression()

In [9]:
l_r = clf.score(xtest,ytest)
print("Accuracy: ",l_r)

Accuracy:  0.03833199358468553

In [10]:
pred_arr = np.array(df.drop(['Prediction'],1))[-pred:]

In [11]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.2)
clf = LinearRegression()
clf.fit(xtrain,ytrain)

LinearRegression()

In [12]:
l_r = clf.score(xtest,ytest)
print("Accuracy: ",l_r)

Accuracy:  0.01490346020488409

In [13]:
lr_p = clf.predict(xtest)
print(lr_p)

[8535.11922783 8386.75152367 8232.47989319 8758.61198791 8636.63194715
 8886.61624082 9051.11643773 8632.46749974 8632.55212451 8780.16584706
 9023.22250887 8363.62205758 8955.02621742 9221.13904288 8051.83602435
 9194.68033852 8039.2533875  7683.35871366 8821.38464861 8752.14257525
 8401.39048703 8539.15206793 9493.17560378 8226.5514853  8952.69011924
 9208.08276036 8703.86991211 8371.41645724 8724.29110049 9146.63324804
 8285.34975076 8307.59532597 9534.68479046 8364.93841261 9039.53302514
 8327.57117268 8526.23390378 8795.16821597 8789.59656258 9244.68823588
 9099.3622135  8557.96595073 9294.73518922 8903.54658448 8394.4304485
 9309.92237617 8575.05549621 8741.13313954 8960.36578941 8502.04266502
 8675.19228361 9165.7355336  9422.09669036 9240.35765302 9249.40939596
 8605.18901127 8811.90695085 8117.8000884  9119.04215636 8910.72356254
 8794.55093581 8237.25185619 9024.46216363 8349.62216731 9388.82158369
 9069.74607053 8364.78076682 8359.01368368]

In [14]:
print(ytest)

[10116.67383   7493.48877   7911.430176  7355.628418 10623.54004
  9613.423828  8942.808594 10517.25488   9510.200195  9293.521484
  7302.089355  7463.105957  7422.652832 10231.74414   8784.494141
  9552.860352  9633.386719 10208.23633   6733.387207  6438.644531
  9342.527344  9865.119141  7707.770996  5200.366211  7200.174316
 10666.48242   8047.526855  7252.034668  9350.529297 10131.05566
  8660.700195  8708.094727  7927.714355  7047.916992  8367.847656
  7424.29248   7278.119629  6932.480469  9344.365234 10311.5459
  8037.537598 10266.41504   9273.521484  7411.317383  9261.104492
  8564.016602 10276.79395  10138.51758   7116.804199  6242.193848
 10346.76074  10583.13477  10978.45996  10701.69141   9693.802734
 10575.5332    6606.776367  8820.522461  8445.43457   8293.868164
  8595.740234  6185.066406 10085.62793   8808.262695  7987.371582
  9519.145508  9324.717773  7909.729492]

In [15]:
print(df.tail(pred))

                  Price  Prediction
Date
6/21/2019  10144.556640         NaN
6/20/2019   9527.160156         NaN
6/19/2019   9273.521484         NaN
6/18/2019   9081.762695         NaN
6/17/2019   9320.352539         NaN
6/16/2019   8994.488281         NaN
6/15/2019   8838.375000         NaN
6/14/2019   8693.833008         NaN
6/13/2019   8230.923828         NaN
6/12/2019   8145.857422         NaN
6/11/2019   7927.714355         NaN
6/10/2019   8000.329590         NaN
6/9/2019    7688.077148         NaN
6/8/2019    7954.127930         NaN
6/7/2019    8043.951172         NaN
6/6/2019    7822.023438         NaN
6/5/2019    7824.231445         NaN
6/4/2019    7707.770996         NaN
6/3/2019    8208.995117         NaN
6/2/2019    8742.958008         NaN
6/1/2019    8564.016602         NaN
5/31/2019   8574.501953         NaN
5/30/2019   8319.472656         NaN
5/29/2019   8659.487305         NaN
5/28/2019   8719.961914         NaN
5/27/2019   8805.778320         NaN
5/26/2019   8673.215820         NaN
5/25/2019   8052.543945         NaN
5/24/2019   7987.371582         NaN
5/23/2019   7881.846680         NaN

In [16]:
lr_p = clf.predict(pred_arr)
print(lr_p)

[9182.81418247 9003.8810654  8930.37180617 8874.79650127 8943.94432701
 8849.50273407 8804.25816804 8762.36717928 8628.20738951 8603.55354457
 8540.3315795  8561.37684082 8470.88020826 8547.98673049 8574.01919601
 8509.70036323 8510.3402852  8476.58785594 8621.85203649 8776.60452854
 8724.74394239 8727.78279439 8653.87050587 8752.41314835 8769.93982784
 8794.81103689 8756.39193029 8576.50954329 8557.62136631 8527.03826431]

In [17]:
df1 = pd.DataFrame(lr_p, columns =['Predicted Price']) #converting the array into dataframe
df1

    Predicted Price
0       9182.814182
1       9003.881065
2       8930.371806
3       8874.796501
4       8943.944327
5       8849.502734
6       8804.258168
7       8762.367179
8       8628.207390
9       8603.553545
10      8540.331580
11      8561.376841
12      8470.880208
13      8547.986730
14      8574.019196
15      8509.700363
16      8510.340285
17      8476.587856
18      8621.852036
19      8776.604529
20      8724.743942
21      8727.782794
22      8653.870506
23      8752.413148
24      8769.939828
25      8794.811037
26      8756.391930
27      8576.509543
28      8557.621366
29      8527.038264